<section class="bg-white border-t border-secondary-200 py-12 sm:py-16 lg:py-20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <% if @post.related_posts.any? %>
      <div class="max-w-2xl mx-auto text-center">
        <h2 class="text-2xl font-bold text-secondary-900">Related posts</h2>
      </div>

      <div class="grid max-w-md grid-cols-1 gap-x-8 gap-y-12 mx-auto mt-12 lg:max-w-none lg:grid-cols-3">
          <% @post.related_posts.each do |related_post| %>
            <div class="normal-article group relative">
              <%= link_to blog_path(related_post), class: "article-cover aspect-w-16 aspect-h-8 block overflow-hidden bg-secondary-200 rounded-lg", 'umami-event': "Clicked Link: #{blog_path(related_post)}", 'umami-href': blog_path(related_post) do %>
                <%# FIXME: is post.cover_image_url correct? %>
                <%#= image_tag related_post.cover_image_url, class: "h-full w-full object-cover transition-all duration-100 group-hover:opacity-75", alt: related_post.title %>
              <% end %>
              <div class="mt-6">
                <div class="flex flex-wrap items-center space-x-2">
                  <div class="article-author flex items-center">
                    <div class="flex-shrink-0">
                      <%= link_to author_path(related_post.author), 'umami-event': "Clicked Link: #{author_path(related_post.author)}", 'umami-href': author_path(related_post.author) do %>
                        <%# FIXME: is related_post.author.avatar_url correct %>
                        <%#= image_tag related_post.author.avatar_url, class: "h-5 w-5 mr-2 rounded-full", alt: related_post.author.name %>
                      <% end %>
                    </div>
                    <div>
                      <%= link_to related_post.author.name, author_path(related_post.author), 'umami-event': "Clicked Link: #{author_path(related_post.author)}", 'umami-href': author_path(related_post.author) %>
                    </div>
                  </div>
                  <span>/</span>
                  <time datetime="<%= related_post.published_at.iso8601 %>"><%= related_post.published_at.strftime("%b %-d, %Y") %></time>
                </div>

                <%= link_to blog_path(related_post), class: "block mt-4", 'umami-event': "Clicked Link: #{blog_path(related_post)}", 'umami-href': blog_path(related_post) do %>
                  <h3 class="article-title text-xl font-bold tracking-tight text-secondary-900"><%= related_post.title %></h3>
                <% end %>

                <p class="mt-3 text-base text-secondary-500"><%= related_post.excerpt %></p>
              </div>
            </div>
          <% end %>

      </div>
    <% end %>
  </div>
</section>