<% content_for :head do %>
  <style>
    .trix-content {
      --tw-text-opacity: 1;
      color: rgb(var(--secondary-900) / var(--tw-text-opacity));
    }
  </style>
<% end %>
<%= render "bravura_template_prime/blog/show/hero" %>


<section class="normal-post-content bg-white py-12 sm:py-16 lg:py-20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 items-start gap-y-12 gap-x-16 lg:grid-cols-12">
      <aside class="lg:sticky lg:col-span-3 lg:top-28">
        <%= render 'bravura_template_prime/blog/table_of_contents' %>
        <hr class="mt-8 border-secondary-200">
        <%= render 'bravura_template_prime/blog/show/article_sharing_links', article: @post %>
      </aside>


      <div class="lg:col-span-9">
        <div class="prose prose-lg prose-primary">
          <%= @post.body_copy %>
        </div>

        <%= render 'bravura_template_prime/blog/author_bio', author: @post.author %>

        <%= render 'bravura_template_prime/shared/cta_button' %>
      </div>
    </div>
  </div>
</section>
<%= render 'bravura_template_prime/blog/related_posts', related_posts: @related_posts %>

<%= render 'bravura_template_prime/shared/newsletter' %>