<%# app/views/layouts/bravura_template_prime/application.html.erb %>
<!DOCTYPE html>
<%= content_tag :html,
  dir: "ltr",
  lang: "en",
  class: "scroll-smooth antialiased selection:bg-primary-500 selection:text-primary-50",
  data: {
    theme: BlogTheme.find(@presenter.get("design.blog_theme_id")).name,
    graytheme: ShadesOfGray.find(@presenter.get("design.shades_of_gray_id")).name,
    mode: SiteMode.find(@presenter.get("design.site_mode_id")).site_theme
  } do %>
  <head>
    <%= render "bravura_template_prime/shared/head" %>
  </head>
  <body class="flex min-h-screen flex-col justify-between">
    <%= render 'bravura_template_prime/shared/header' %>
    <%= render 'bravura_template_prime/shared/notifications' %>
    <main class="main-wrapper flex-1" role="main">
      <%= yield %>
    </main>
    <%= render 'bravura_template_prime/shared/footer' %>
    <%= yield :local_javascript %>
  </body>
<% end %>