<!DOCTYPE html>
<html>
<head>
  <title>Bravura template prime</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "bravura_template_prime/application", media: "all" %>
</head>
<body>
<h1>
bravura_temlpate_prime_template layout

</h1>
<%= yield %>

</body>
</html>
