<!DOCTYPE html>
<html>
<head>
  <title><%= get_setting('general.blog_title') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "bravura_template_prime/application", media: "all" %>
  <%= javascript_include_tag "bravura_template_prime/application" %>
</head>
<body>
  <%= yield %>
</body>
</html>