<%# app/views/bravura_template_prime/blog/index/_tag_list.html.erb %>
<div class="categories-sidebar lg:sticky lg:col-span-3 lg:top-28">
  <p class="hidden text-xs font-bold uppercase tracking-widest text-secondary-500 lg:block">Tags56</p>
  <%= form_tag blog_index_path, method: :get do %>
    <%= hidden_field_tag :page, 1 %>
    <nav class="max-h-[50vh] overflow-y-auto mt-5 space-y-1 hidden lg:block" aria-label="Sidebar">
      <%= button_tag type: 'submit', name: 'tag', value: nil, class: "group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 #{params[:tag].blank? ? 'bg-secondary-100 text-secondary-900' : 'text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900'}", aria: { current: params[:tag].blank? ? 'page' : nil } do %>
        <span class="truncate">All Tags</span>
        <span class="inline-block bg-white text-xs ml-auto rounded-full py-0.5 px-3"><%= ActsAsTaggableOn::Tag.count %></span>
      <% end %>

      <% ActsAsTaggableOn::Tag.most_used(10).each do |tag| %>
        <%= button_tag type: 'submit', name: 'tag', value: tag.name, class: "group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 #{params[:tag] == tag.name ? 'bg-secondary-100 text-secondary-900' : 'text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900'}", aria: { current: params[:tag] == tag.name ? 'page' : nil } do %>
          <span class="truncate"><%= tag.name %></span>
          <span class="inline-block bg-white text-xs ml-auto rounded-full py-0.5 px-3"><%= tag.taggings_count %></span>
        <% end %>
      <% end %>
    </nav>
  <% end %>

  <details class="menu-details lg:hidden">
    <summary class="flex w-full cursor-pointer items-center justify-between text-base font-semibold text-secondary-900 -m-2 rounded-lg p-2 hover:bg-secondary-100 hover:text-secondary-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-secondary-900">
      <span class="sr-only">Open tag filters</span>
      View Tags
      <span aria-hidden="true" class="collapsed-icon">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </span>
      <span aria-hidden="true" class="expanded-icon">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <polyline points="18 15 12 9 6 15"></polyline>
        </svg>
      </span>
    </summary>
    <div>
      <%= form_tag blog_index_path, method: :get do %>
        <%= hidden_field_tag :page, 1 %>
        <nav class="max-h-[50vh] overflow-y-auto mt-5 space-y-1" aria-label="Sidebar">
          <%= button_tag type: 'submit', name: 'tag', value: nil, class: "group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 #{params[:tag].blank? ? 'bg-secondary-100 text-secondary-900' : 'text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900'}", aria: { current: params[:tag].blank? ? 'page' : nil } do %>
            <span class="truncate">All Tags</span>
            <span class="inline-block bg-white text-xs ml-auto rounded-full py-0.5 px-3"><%= ActsAsTaggableOn::Tag.count %></span>
          <% end %>

          <% ActsAsTaggableOn::Tag.most_used(10).each do |tag| %>
            <%= button_tag type: 'submit', name: 'tag', value: tag.name, class: "group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 #{params[:tag] == tag.name ? 'bg-secondary-100 text-secondary-900' : 'text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900'}", aria: { current: params[:tag] == tag.name ? 'page' : nil } do %>
              <span class="truncate"><%= tag.name %></span>
              <span class="inline-block bg-white text-xs ml-auto rounded-full py-0.5 px-3"><%= tag.taggings_count %></span>
            <% end %>
          <% end %>
        </nav>
      <% end %>
    </div>
  </details>
</div>