<footer class="bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center gap-y-8 lg:gap-y-12">
      <%= render 'bravura_template_prime/shared/logo' %>
      <%= render 'bravura_template_prime/shared/footer_links' %>
      <%= render 'bravura_template_prime/shared/social_links' %>
      <p>&copy; <%= Time.current.year %> <%= "site_name" %>. All Rights Reserved.</p>
    </div>
  </div>
</footer>