<%# app/views/bravura_template_prime/shared/_head.html.erb %>
<title><%= content_tag :title, @presenter.get("general.publication_name") %></title>
<%= favicon_link_tag @presenter.get('general.favicon').present? ? rails_blob_url(@presenter.get('general.favicon')) : asset_path('default_favicon.png') %>

<%= tag.meta charset: "utf-8" %>
<%= tag.meta name: "viewport", content: "width=device-width,initial-scale=1" %>
<%= tag.meta name: "twitter:card", content: "summary_large_image" %>
<%= tag.meta property: "og:type", content: "website" %>
<%= tag.meta property: "og:locale", content: @presenter.get('general.open_graph_locale') %>
<%= tag.meta name: "robots", content: "index,follow" %>
<%= tag.meta name: "description", content: @presenter.get('general.meta_description') %>
<%= tag.meta property: "og:title", content: @presenter.get("general.publication_name") %>
<%= tag.meta property: "og:description", content: @presenter.get('general.meta_description') %>
<%= tag.meta property: "og:image", content: url_for(@presenter.get('general.social_cover')) %>
<%= tag.meta property: "og:site_name", content: @presenter.get('general.publication_name') %>
<%= tag.meta property: "og:type", content: "article" %>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "bravura_template_base/application", "data-turbo-track": "reload" %>

<link rel="preconnect" href="https://fonts.bunny.net">
<link rel="stylesheet" href="https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900&amp;display=swap">
<link rel="canonical" href="<%= request.base_url %>">

<%= stylesheet_link_tag "bravura_template_prime/application", media: "all", "data-turbo-track": "reload" %>

<style>
  :root {
    --cta-button-radius: <%= @button_radius %>;
    --headings-font-family: <%= @presenter.get("design.heading_font") %>, sans-serif;
    --content-font-family: <%= @presenter.get("design.content_font") %>, sans-serif;
  }
  .notion-collection-page-properties { display: none !important; }
</style>


<%= yield :head %>