<%# app/views/bravura_template_prime/shared/_newsletter.html.erb %>

<% section ||= 'footer' %>
<% headline ||= 'Join other 3200+ marketers now!' %>
<% subheadline ||= 'Ready to take the next big step for your business?' %>
<% disclaimer ||= 'No spam. Unsubscribe at any time.' %>

<section id="newsletter-in-<%= section %>-wrapper" class="newsletter py-12 sm:py-16 lg:py-20 newsletter-in-<%= section %> bg-secondary-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="newsletter-metadata max-w-2xl mx-auto text-center">
      <h2 class="newsletter-headline text-2xl font-bold text-secondary-900 sm:text-3xl lg:text-4xl"><%= headline %></h2>
      <p class="newsletter-subheadline max-w-md text-base font-medium text-secondary-500 mx-auto mt-5"><%= subheadline %></p>
    </div>
    
    <input type="hidden" name="pageUrl" form="newsletter-in-<%= section %>-wrapper-form" value="/" />
    <input type="hidden" name="publicationId" value="396826319785034317" form="newsletter-in-<%= section %>-wrapper-form" />
    <input type="hidden" name="webhookUrl" value="" form="newsletter-in-<%= section %>-wrapper-form" />
    <input type="hidden" name="webhookBearerToken" value="" form="newsletter-in-<%= section %>-wrapper-form" />
    <input type="hidden" name="newsletterEmailVerification" value="true" form="newsletter-in-<%= section %>-wrapper-form" />
    
    <div class="newsletter-form-wrapper relative max-w-xl mx-auto mt-12">
      <%= render_subscriber_form %>
  
        

    </div>
    <p class="newsletter-spam-notice text-sm font-medium text-secondary-500 mt-6 text-center"><%= disclaimer %></p>
    </div>
</section>