<section id="all-posts" class="normal-articles-list bg-white py-12 sm:py-16 lg:py-20">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<h2 class="text-xl font-bold text-secondary-900 sm:text-2xl">All posts</h2>
		<div class="relative grid grid-cols-1 items-start gap-16 mt-8 lg:grid-cols-12">
			<div class="categories-sidebar lg:sticky lg:col-span-3 lg:top-28">
				<p class="hidden text-xs font-bold uppercase tracking-widest text-secondary-500 lg:block">Tags12</p>
				<nav class="max-h-[50vh] overflow-y-auto mt-5 space-y-1 hidden lg:block" aria-label="Sidebar">
					<%= link_to '/tags/all-tags', class: "group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 bg-secondary-100 text-secondary-900", aria: { current: 'page' } do %>
						<span class="truncate">All Tags</span>
						<span class="inline-block bg-white text-xs ml-auto rounded-full py-0.5 px-3">5</span>
					<% end %><% @tags.each do |tag| %>
  <%= link_to tag[:path], class: "group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900" do %>
    <span class="truncate"><%= tag[:name] %></span>
  <% end %>
<% end %>
				</nav>
				<details class="menu-details lg:hidden">
					<summary
						class="flex w-full cursor-pointer items-center justify-between text-base font-semibold text-secondary-900 -m-2 rounded-lg p-2 hover:bg-secondary-100 hover:text-secondary-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-secondary-900"
					>
						<span class="sr-only">
							Open
							<!-- -->tag<!-- -->
							filters
						</span>
						View Tags
						<span aria-hidden="true" class="collapsed-icon">
							<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
								<polyline points="6 9 12 15 18 9"></polyline>
							</svg>
						</span>
						<span aria-hidden="true" class="expanded-icon">
							<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
								<polyline points="18 15 12 9 6 15"></polyline>
							</svg>
						</span>
					</summary>
					<div>
						<nav class="max-h-[50vh] overflow-y-auto mt-5 space-y-1" aria-label="Sidebar">
							<%= link_to '/tags/all-tags', class: "group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 bg-secondary-100 text-secondary-900", aria: { current: 'page' } do %>
								<span class="truncate">All Tags</span>
								<span class="inline-block bg-white text-xs ml-auto rounded-full py-0.5 px-3">5</span>
							<% end %>
							<% @tags.each do |tag| %>
								<%= link_to tag[:path], class: "group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900" do %>
									<span class="truncate"><%= tag[:name] %></span>
								<% end %>
							<% end %>
						</nav>
					</div>
				</details>
			</div>
			<div class="lg:col-span-9">
				<div class="articles-grid grid grid-cols-1 gap-8 sm:grid-cols-2 lg:gap-y-12 xl:grid-cols-3">
				<% @articles.each do |article| %>
					<div class="normal-article group relative">
						<%= link_to blog_path(article), class: "article-cover aspect-w-16 aspect-h-8 block overflow-hidden bg-secondary-200 rounded-lg", data: { "umami-event": "Clicked Link: #{article.slug}", "umami-href": blog_path(article) } do %>
							<span class="sr-only"><%= article.title %></span>
							<%= image_tag url_for(article.cover), alt: article.title, class: "h-full w-full object-cover transition-all duration-100 group-hover:opacity-75" %>
						<% end %>
						<div class="mt-6">
							<div class="flex flex-wrap items-center space-x-2">
								<div class="article-author flex items-center">
									<div class="flex-shrink-0">
										<%= link_to author_path(article.author), class: "" do %>
											<span class="sr-only"><%= article.author.name %></span>
											<%= image_tag url_for(article.cover), alt: article.author.name, class: "h-5 w-5 mr-2 rounded-full" %>
										<% end %>
									</div>
									<div>
										<p class="text-sm font-semibold text-secondary-900">
											<%= link_to article.author.name, class: "", data: { "umami-event": "Clicked Link: #{author_path(article.author)}", "umami-href": author_path(article.author) } %>
										</p>
									</div>
								</div>
								<p class="article-publish-date-separator text-sm font-medium text-secondary-500">/</p>
								<p class="article-publish-date text-sm font-medium text-secondary-500">
									<time datetime="<%= article.published_at.to_date %>"><%= article.published_at.strftime("%b %d, %Y") %></time>
								</p>
							</div>
							<%= link_to blog_path(article), class: "block mt-4", data: { "umami-event": "Clicked Link: #{article.slug}", "umami-href": blog_path(article) } do %>
								<h3 class="article-title text-xl font-bold tracking-tight text-secondary-900"><%= article.title %></h3>
								<p class="article-excerpt text-base font-medium text-secondary-500 line-clamp-3 mt-3"><%= article.excerpt %></p>
							<% end %>
							<div class="article-tags-list flex flex-wrap mt-5">
								<% article.tags.each do |tag| %>
									<%= link_to tag_path(tag), class: "article-tag inline-flex items-center bg-secondary-100 text-xs font-bold text-secondary-600 transition-all duration-200 mr-2 mb-2 rounded-full px-2.5 py-0.5 hover:bg-secondary-200 hover:text-secondary-900", data: { "umami-event": "Clicked Link: #{tag.slug}", "umami-href": tag_path(tag) } do %>
										<%= tag.name %>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
								</div>
				<hr class="mt-12 border-secondary-200" />
				<form method="get" action="/marvin-mckinney?tag=all-tags" class="pagination flex items-center justify-between mt-5 space-x-4 sm:space-x-0">
					<input type="hidden" name="tag" value="all-tags" />
					<button
						type="submit"
						disabled=""
						class="inline-flex items-center justify-center bg-white text-sm font-bold text-secondary-700 shadow-sm transition-all duration-200 rounded-lg border border-secondary-300 px-4 py-2 hover:bg-secondary-50 focus:outline-none focus:ring-2 focus:ring-secondary-500 focus:ring-offset-2 pointer-events-none cursor-not-allowed"
						name="page"
						value="0"
					>
						<svg class="h-5 w-5 mr-2 -ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
						</svg>
						Previous
					</button>
					<div class="hidden md:flex md:space-x-2">
						<button
							type="submit"
							name="page"
							value="1"
							class="page inline-flex h-10 w-10 items-center justify-center text-sm font-bold rounded-lg hover:bg-secondary-100 hover:text-secondary-900 bg-secondary-100 text-secondary-900"
							aria-current="page"
						>
							1
						</button>
					</div>
					<button
						type="submit"
						name="page"
						value="2"
						class="inline-flex items-center justify-center bg-white text-sm font-bold text-secondary-700 shadow-sm transition-all duration-200 rounded-lg border border-secondary-300 px-4 py-2 hover:bg-secondary-50 focus:outline-none focus:ring-2 focus:ring-secondary-500 focus:ring-offset-2 pointer-events-none cursor-not-allowed"
						disabled=""
					>
						Next
						<svg class="h-5 w-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
						</svg>
					</button>
				</form>
			</div>
		</div>
	</div>
</section>
